/* Custom font */
@import url(https://db.onlinewebfonts.com/c/aa93cb662eed3dbceaf9144b30dbea90?family=Generis+Sans+W01+Regular);
@font-face {
  font-family: "Generis Sans W01 Regular";
  src: url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.eot");
  src: url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.svg#Generis Sans W01 Regular")format("svg");
}

/* Colors */
[data-theme="light"]{
  --primary-color: #ffffff;
  --secondary-color: #CE2D2A;
  --font-color1: #424242;
  --font-color2: #ffffff;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #8380ee;
  --secondary-color: #7186c0;
  --font-color1: #ffffff;
  --font-color2: #26242D;
  --bg-color: #26242D;
  --heading-color: #7c8bb5;
}

body {
  font-family: Arial, sans-serif;
  font-size: calc(0.5em + 1vw);
  background-color: var(--bg-color);
}
/* Grid */
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.25fr 1.5fr; 
  gap: 0 0;
  grid-template-areas: 
  ". . ."
  ". . .";    
}
.header{
  display: flex;
  flex-direction: row;
  grid-area: 1 / 1 / 2 / 4;
  align-items: top;
  width: 100%;
}

.header img{
  margin-top: 2vmin;
  margin-left: 2vmin;
  width: 35vmin;
  height: auto;
}

h2{
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 100;
  color: var(--font-color1);
  margin-top: -3px
}

.alert {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 0px -8px;
  box-sizing: border-box;
  padding: 20px;
}

.alert.abled {
  animation: fadeIn 0.5s forwards, fadeOut 0.5s 5s forwards;
}

.alert.disabled {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  0% {
  top: -100px;
  opacity: 0;
  }
  100% {
  top: 0px;
  opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
  top: 0px;
  opacity: 1;
  }
  100% {
  top: -100px;
  opacity: 0;
  }
}



.closebtn {
  margin-left: 15px;
  color: var(--primary-color);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Switch Light/Dark */
.app {
  transform: scale(1);
  transform-origin: top left;
  margin-right: 2vmin;
  margin-left: auto;
}
.body {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
/* Middle */
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
}
.circle {
  position: relative;
  border-radius: 100%;
  width: 7.5vmin;
  height: 7.5vmin;
  background: linear-gradient(40deg, #FF0080,#FF8C00 70%);
  margin-left: 1.5vmin;
}
.crescent {
  position: absolute;
  border-radius: 100%;
  right: 0;
  width: 6vmin;
  height: 6vmin;
  background: var(--primary-color);
  transform: scale(0);
  transform-origin: top right;
  transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
p { 
font-size: 90%;
}

#label, .toggle {
  height: 4vmin;
  border-radius: 3vmin;
}
#label {
  width: 50%;
  background-color: rgba(0,0,0,.1);
  position: relative; 
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: var(--primary-color);
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.names {
  font-size: 0.5em;
  font-weight: bolder;
  width: 65%;
  margin-left: 17.5%;
  margin-top: .5%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.names p{
  text-align: center;
  margin: 1.5vmin 0;
}
.dark {
opacity: .5;
}  
#label {
  width:  17vmin;
  height: 4vmin;
  min-width: 75px;
}
/* -------- Switch Styles ------------*/

[type="checkbox"] {
display: none;

}
/* Toggle */
[type="checkbox"]:checked + .app .toggle{
  transform: translateX(100%);
  background-color: #34323D;
}
[type="checkbox"]:checked + .app .dark{
  opacity: 1;
}
[type="checkbox"]:checked + .app .light{
  opacity: .5;
}
/* App */
[type="checkbox"]:checked + .app{
  background-color:  #26242E;
color: white;
}
/* Circle */
[type="checkbox"]:checked + .app .crescent{
  transform: scale(1);
  background: #26242E;
}
[type="checkbox"]:checked + .app .circle{
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}
[type="checkbox"]:checked + .app .main-circle{
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}