/* Custom font */
@import url(https://db.onlinewebfonts.com/c/aa93cb662eed3dbceaf9144b30dbea90?family=Generis+Sans+W01+Regular);
@font-face {
    font-family: "Generis Sans W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.eot");
    src: url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.svg#Generis Sans W01 Regular")format("svg");
}
* {
    font-family: 'Generis Sans W01 Regular';
}

/* Grid */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.65fr 1.5fr; 
    gap: 0 0;
    grid-template-areas: 
    ". . ."
    ". . ."; 
    
}
.header{
    grid-area: 1 / 1 / 2 / 4;
}
.chat{
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
}
.settings-container {
    grid-area: 3 / 1 / 2 / 2;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    border: 1px solid #7d878d;
    height: 70vh;
    width: 400px;
    border: 1px solid #7d878d;
    border-radius: 5px;
    padding: 10px;

}
.link-container {
    grid-area: 3 / 3 / 2 / 4;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    border: 1px solid #7d878d;
    height: 70vh;
    width: 400px;
    border: 1px solid #7d878d;
    border-radius: 5px;
    padding: 10px;

}
.link-list {
    margin-left: 10%;
    list-style: none;
}

.chat-container {
    height: 65vh;
    width: 400px;
    border: 1px solid #7d878d;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    word-wrap: break-word;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.chat-container a{
    color: #ff7d7d;
    text-decoration: none;
    font-size: 5px;
}
.chat-container a:hover{
    color: #ffffff;
    text-decoration: none;
    font-size: 5px;
}
.chat-container::-webkit-scrollbar {
    display: none;
  }
  

.message {
    background-color: #e2011b;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    max-width: 80%;
    height:fit-content;
}

.user-message {
    text-align: left;
}

.user-message .message {
    background-color: #7d878d;
    color: #000;
    margin-left: 15%;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.input-container input {
    padding: 5px;
    border: 1px solid #7d878d;
    border-radius: 5px;
    width: 300px;
}

#sendMessage {
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #e2011b;
    color: #fff;
    border: none;
}

#clearChat{
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #ff0400;
    color: #fff;
    border: none;
}

#porg-container {
    position: absolute;
    bottom: 30px;
    margin-left: -40px;
    z-index: 1;
}
h2{
    text-align: center;
    font-size: 2.25em;
    letter-spacing: 0.1em;
    font-weight: 100;
    color: #5E6970;
    margin-top: -3px
}