body {
    font-family: Arial, sans-serif;

}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.25fr 1.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."
    ". . ."; 
    
}

.header{
    grid-area: 1 / 1 / 2 / 4;
}

.chat{
    grid-area: 2 / 2 / 3 / 3;
}

.chat-container {
    height: 65vh;
    width: 400px;
    border: 1px solid #ccc;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    word-wrap: break-word;
    overflow: auto;
    /* add a*/
}

.message {
    background-color: #e2011b;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    max-width: 80%;
}

.user-message {
    text-align: left;
}

.user-message .message {
    background-color: #7d878d;
    color: #000;
    margin-left: 15%;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.input-container input {
    padding: 5px;
    border: 1px solid #7d878d;
    border-radius: 5px;
    width: 300px;
}

#sendMessage {
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #e2011b;
    color: #fff;
    border: none;
}

#clearChat{
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #ff0400;
    color: #fff;
    border: none;
}
