/* Custom font */
@import url(https://db.onlinewebfonts.com/c/aa93cb662eed3dbceaf9144b30dbea90?family=Generis+Sans+W01+Regular);
@font-face {
  font-family: "Generis Sans W01 Regular";
  src: url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.eot");
  src: url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/aa93cb662eed3dbceaf9144b30dbea90.svg#Generis Sans W01 Regular")format("svg");
}

/* Colors */
[data-theme="light"]{
  --primary-color: #ffffff;
  --secondary-color: #CE2D2A;
  --font-color1: #424242;
  --font-color2: #ffffff;
  --font-color3: #26242D;
  --bg-color: #fff;
  --heading-color: #292922;
  --pathto-porg: "files/light";
}

[data-theme="dark"] {
  --primary-color: #8380ee;
  --secondary-color: #7186c0;
  --font-color1: #715f9d;
  --font-color2: #26242D;
  --font-color3: #7d878d;
  --bg-color: #26242D;
  --heading-color: #7c8bb5;
  --pathto-porg: "files/dark";
}


@media only screen and (min-width: 601px) {
  #navbar {
    display: none;
  }
  .chat{
    display: block;
  }
  .link-container{
    display: block;
  }
  .settings-container{
    display: block;
  }
}

body {
  font-family: Arial, sans-serif;
  font-size: calc(0.5em + 1vw);
  background-color: var(--bg-color);
}
/* Grid */
.grid-container{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.225fr 1.5fr; 
  gap: 0 0;
  grid-template-areas: 
  ". . ."
  ". . .";    
}

.header{
  display: flex;
  flex-direction: row;
  grid-area: 1 / 1 / 2 / 4;
  align-items: top;
  width: 100%;
}

.header img{
  margin-top: 2vmin;
  margin-left: 2vmin;
  width: 35vmin;
  height: auto;
}

h2{
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 100;
  color: var(--font-color1);
  margin-top: -3px
}

.alert {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--font-color2);
  margin: 0px -8px;
  box-sizing: border-box;
  padding: 20px;
}

.alert.abled {
  animation: fadeIn 0.5s forwards, fadeOut 0.5s 5s forwards;
}

.alert.disabled {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  0% {
  top: -100px;
  opacity: 0;
  }
  100% {
  top: 0px;
  opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
  top: 0px;
  opacity: 1;
  }
  100% {
  top: -100px;
  opacity: 0;
  }
}

.closebtn {
  margin-left: 15px;
  color: var(--primary-color);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Switch Light/Dark */
.app {
  transform: scale(1);
  transform-origin: top left;
  margin-right: 2vmin;
  margin-left: auto;
}
.body {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
/* Middle */
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
}
.circle {
  position: relative;
  border-radius: 100%;
  width: 7.5vmin;
  height: 7.5vmin;
  background: linear-gradient(40deg, #FF0080,#FF8C00 70%);
  margin-left: 1.5vmin;
}
.crescent {
  position: absolute;
  border-radius: 100%;
  right: 0;
  width: 6vmin;
  height: 6vmin;
  background: var(--primary-color);
  transform: scale(0);
  transform-origin: top right;
  transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
p { 
font-size: 90%;
}

#label, .toggle {
  height: 4vmin;
  border-radius: 3vmin;
}
#label {
  background-color: rgba(0,0,0,.1);
  position: relative; 
  cursor: pointer;
  width:  17vmin;
  height: 4vmin;
  min-width: 75px;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: var(--primary-color);
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.names {
  font-size: 0.5em;
  font-weight: bolder;
  width: 65%;
  margin-left: 17.5%;
  margin-top: .5%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.names p{
  text-align: center;
  margin: 1.5vmin 0;
}
.dark {
opacity: .5;
}  
#loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#loading img{
  width: 50px;
}

#loading p{
  color: var(--font-color1);
}

#loading.remove{
  animation: remove 0.25s forwards;
}

@keyframes remove {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  display: none;
  pointer-events: none;
  }
}


/* -------- Switch Styles ------------*/

[type="checkbox"] {
display: none;

}
/* Toggle */
[type="checkbox"]:checked + .app .toggle{
  transform: translateX(100%);
  background-color: #34323D;
}
[type="checkbox"]:checked + .app .dark{
  opacity: 1;
}
[type="checkbox"]:checked + .app .light{
  opacity: .5;
}
/* App */
[type="checkbox"]:checked + .app{
  background-color:  #26242E;
color: white;
}
/* Circle */
[type="checkbox"]:checked + .app .crescent{
  transform: scale(1);
  background: #26242E;
}
[type="checkbox"]:checked + .app .circle{
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}
[type="checkbox"]:checked + .app .main-circle{
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}

/* Cookies */
#cookies{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  gap: 4vmin;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.868);
  z-index: 9998;
}

#headlineflex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10%;
  height: 10%;
}

#cookies h1{
  font-size: 13vmin;
  text-align: center;
  color: rgb(95, 95, 95);
}

/*Earth & Moon*/
#earth, #moon{
  border-radius: 100%;
  animation: spin 14s infinite linear;
  box-shadow: inset 0 0 0 0.75vmin rgba(0, 0, 0, 0.1); 
}
#earth{
  background-image: url("/project/frontend/files/cookies/earth.jpg");
  background-size: 17vmin;
  width: 11vmin;
  height: 11vmin;
  position: relative;
}
#moon{
  background-image: url("/project/frontend/files/cookies/moon.jpg");
  background-size: 17vmin;
  width: 4vmin;
  height: 4vmin;
  margin-left: -4vmin;
  transform: translate(14vmin, -5vmin);
  animation: rotateAroundEarth 16s infinite linear, spin 14s infinite linear;
  position: relative;
}

@keyframes rotateAroundEarth{
  0%{
    transform: translate(14vmin, -5vmin) rotate(0deg);
    z-index: 1;
  }
  1%{
    transform: translate(13.9vmin, -4.9vmin) rotate(1deg);
    z-index: 0;
  }
  12%{
    transform: translateX(7vmin) translateY(0vmin) rotate(45deg);
    z-index: 0;
    scale: 0.6;
  }
  24%{
    transform: translate(1.2vmin, 4.9vmin) rotate(89deg);
    z-index: 0;
  }
  25%{
    transform: translate(1vmin, 5vmin) rotate(90deg);
    z-index: 0;
  }
  26%{
    transform: translate(1.2vmin, 4.9vmin) rotate(91deg);
    z-index: 1;
  }
  37%{
    transform: translateX(6vmin) translateY(0vmin) rotate(135deg);
    z-index: 1;
    scale: 1.4;
  }
  49%{
    transform: translate(13.9vmin, -4.9vmin) rotate(179deg);
    z-index: 1;
  }
  50%{
    transform: translate(14vmin, -5vmin) rotate(180deg);
    z-index: 1;
  }
  51%{
    transform: translate(13.9vmin, -4.9vmin) rotate(181deg);
    z-index: 0;
  }
  62%{
    transform: translateX(7vmin) translateY(0vmin) rotate(225deg);
    z-index: 0;
    scale: 0.6;
  }
  74%{
    transform: translate(1.2vmin, 4.9vmin) rotate(269deg);
    z-index: 0;
  }
  75%{
    transform: translate(1vmin, 5vmin) rotate(270deg);
    z-index: 0;
  }
  76%{
    transform: translate(1.2vmin, 4.9vmin) rotate(271deg);
    z-index: 1;
  }
  87%{
    transform: translateX(6vmin) translateY(0vmin) rotate(315deg);
    z-index: 1;
    scale: 1.4;
  }
  99%{
    transform: translate(13.9vmin, -4.9vmin) rotate(359deg);
    z-index: 1;
  }
  100%{
    transform: translate(14vmin, -5vmin) rotate(360deg);
    z-index: 1;
  }
}

@keyframes spin{
  0%{
    background-position: 0;
  }
  100%{
    background-position: 17vmin;
  }
}

#rocket{
  background-size:cover;
  position: absolute;
  width: 3vmin;
  animation: start 20s infinite linear;
  z-index: 1;
}

@keyframes start{
  0%{
    transform: translate(0vmin, 0vmin)scale(0.1);
  }
  7%{
    transform: translate(2vmin, -5vmin)rotate(45deg)scale(1);
  }
  15%{
    transform: translate(5vmin, -7vmin)rotate(45deg)scale(1.2);
  }
  25%{
    transform: translate(20vmin, -12vmin)rotate(90deg)scale(1.5);
  }
  50%{
    transform: translate(100vmin, -12vmin)rotate(90deg)scale(0.1);
  }
  100%{
    transform: translate(100vmin, -12vmin)rotate(90deg)scale(0);
  }
}



.cookies{
  /*remove default browser style*/
  appearance: none;
  
  border: 2px solid #484848;
  border-radius: 5px;
  color: #ffffff;
  height: 6vmin;
  width: 20vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
  font-size: 1em;
}
#accept{
  background-color: #23b313;
}
#accept:hover{
  background-color: #36ff1f;
  color:#373737;
  cursor: pointer;
}
#refuse{
  background-color: #c90000;
}
#refuse:hover{
  background-color: #ff0000;
  color:#ffffff;
  cursor: pointer;
}
#cookies p{
  font-size: 1.5vmin;
  text-align: center;
  color: rgb(128, 128, 128);
  margin-left: 20%;
  margin-right: 20%;
}